ñDB_PORT=1234567
DB_HOST=micasita
DB_USER=hola
DB_PASSWORD=ni_idea
DB_NAME=hello

OPENROUTER_API_KEY=sk-or-v1-nose
PORT=nose

NGROK_AUTHTOKEN=ni idea
NGROK_ENABLED=adivinalo #Si esta babosada esta en false, no arranca el ngrok papi, asi que ahorita a menos que quieran ver alguna onda especifica, le sampan true, sino dejenlo en false